<a href="https://colab.research.google.com/github/shreya-612/shreya_INFO5731_Fall2023/blob/main/In_class_exercise/Padala_Shreya_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
#length and width
l=float(input("Length of rectangle "))
w=float(input("Width of rectangle "))
#finding area
Area=l*w
print(f"Area of rectangle: {Area} sq. units")

Length of rectangle 4
Width of rectangle 5
Area of rectangle: 20.0 sq. units

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
#Two numbers
firstnum = float(input("Enter 1st number: "))
secondnum= float(input("Enter 2nd number: "))
# Swapping
firstnum,secondnum=secondnum,firstnum
#After Swapping
print("After swapping is done:")
print(f"1st number: {firstnum}")
print(f"2nd number: {secondnum}")

Enter 1st number: 5.7
Enter 2nd number: 8.9
After swapping is done:
1st number: 8.9
2nd number: 5.7

(3) Write a Python program to calculate the length of a string.

In [ ]:
#string input
string_input=input("Enter string: ")
#length of string
length=len(string_input)
print(f"string length is: {length}")

Enter string: hiiiiheyhellooo
string length is: 15

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def string_characters(string_input):
    num_of_char={}
    for char in string_input:
        if char in num_of_char:
            num_of_char[char]=num_of_char[char]+1
        else:
            num_of_char[char]=1
    return num_of_char
string_input = input("Enter string: ")
num_of_char = string_characters(string_input)
print("number of characters in a string:")
for char, count in num_of_char.items():
    print(f"'{char}': {count}")

Enter string: whyyy
number of characters in a string:
'w': 1
'h': 1
'y': 3

(5) Write a Python program to sum all the items in a list.

In [ ]:
def sum_of_list(list_input):
    return sum(list_input)
list_input = [int(x) for x in input("Enter items in the list: ").split()]
result = sum_of_list(list_input)
print("Sum of items in list:", result)

Enter items in the list: 5 6 7 4 3 2
Sum of items in list: 27

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [2]:
def replace_first_char_occurrences(input_string):
    if len(input_string) <= 1:
        return input_string

    first_char = input_string[0]
    modified_str = first_char + input_string[1:].replace(first_char, '$')

    return modified_str
input_string = input("Enter a string: ")
print(replace_first_char_occurrences(input_string))

Enter a string: restart
resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
def factorial_of_num(n):
    f=1
    while n>1:
        f=f*n
        n=n-1
    return f
n_value = int(input("Enter num: "))
result = factorial_of_num(n_value)
print("Factorial:", result)

Enter num: 4
Factorial: 24

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
def even_num(list_input):
    even_numbers_list = []
    for n in list_input:
        if n % 2 == 0:
            even_numbers_list.append(n)
    return even_numbers_list
list_input = [int(x) for x in input("Enter a list of numbers").split()]
result = even_num(list_input)
print("New list with only even numbers:", result)

Enter a list of numbers3 4 5 6  7
New list with only even numbers: [4, 6]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
def s_val(a, b):
    S=3.14*(1+a/b)**3
    return S
a = float(input("Enter a value: "))
b = float(input("Enter b value: "))
answer=s_val(a, b)
print("S value is:",answer)

Enter a value: 5
Enter b value: 4
S value is: 35.7665625

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
def concatenate_dicts(*dicts):
    concatenated_dict = {}
    for d in dicts:
        concatenated_dict.update(d)
    return concatenated_dict

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

print(concatenate_dicts(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
def largest_and_smallest(values):
    s=min(values)
    l=max(values)
    return s,l
tuple_as_input= tuple(int(x) for x in input("Enter tuple of integers: ").split())
s,l = largest_and_smallest(tuple_as_input)
print("Smallest:", s)
print("Largest:", l)

Enter tuple of integers: 6     5 6 78 6
Smallest: 5
Largest: 78

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [4]:
def count_character_frequency(input_string):
    frequency_dict = {}

    for char in input_string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1

    return frequency_dict

input_string = input("Enter a string: ")
result = count_character_frequency(input_string)

print("Character Frequency:")
for char, frequency in result.items():
    print(f"'{char}': {frequency}")

Enter a string: restart
Character Frequency:
'r': 2
'e': 1
's': 1
't': 2
'a': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
def check_element(element, elements_of_tuple):
    return element in elements_of_tuple
elements_of_tuple = tuple(input("Enter elements: ").split())
checking_element = input("Enter an element to check: ")
if check_element(checking_element, elements_of_tuple):
    print(f"The element '{checking_element}' present in tuple.")
else:
    print(f"The element '{checking_element}' is not present in tuple.")

Enter elements: 7 8 9 0
Enter an element to check: 9
The element '9' present in tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [ ]:
def max_and_min(values_of_set):
    max_val = max(values_of_set)
    min_val = min(values_of_set)
    return max_val, min_val
values_of_set = set(map(int, input("Enter elements of a set: ").split()))
max_val, min_val = max_and_min(values_of_set)
print("Max value:", max_val)
print("Min value:", min_val)

Enter elements of a set: 8 7 6 9
Max value: 9
Min value: 6

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [5]:
import random

def divide_students_into_groups(student_list, group_size_range):
    random.shuffle(student_list)

    groups = []
    current_group = []

    for student in student_list:
        current_group.append(student)
        if len(current_group) >= random.choice(group_size_range):
            groups.append(current_group)
            current_group = []

    for student in current_group:
        groups[random.randint(0, len(groups) - 1)].append(student)

    return groups

student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

group_size_range = range(4, 7)

groups = divide_students_into_groups(student_list_fall_2023, group_size_range)

for i, group in enumerate(groups, start=1):
    print(f"Group {i}: {group}")

Group 1: ['sm2343', 'vkk0022', 'lp0502', 'dv0310', 'ab1820', 'mg1299', 'vr0331']
Group 2: ['sm2747', 'sc1622', 'am2807', 'mt0825']
Group 3: ['mc1453', 'bk0413', 'mb1296', 'sd0926']
Group 4: ['ns0756', 'gk0257', 'gp0306', 'ac1770', 'pm0658']
Group 5: ['am2346', 'sm2364', 'sg1638', 'rm1090']
Group 6: ['sr1508', 'sp2075', 'vm0597', 'tc0469', 'su0137', 'sb1826']
Group 7: ['gm0558', 'ag1609', 'ad1187', 'sd1268', 'sb1883']
Group 8: ['dt0463', 'lb0582', 'as2819', 'ss2981', 'yr0180', 'htn0086']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [6]:
def find_duplicate_elements(arr):
    frequency_dict = {}
    duplicate_elements = []

    for num in arr:
        if num in frequency_dict:
            frequency_dict[num] += 1
        else:
            frequency_dict[num] = 1

    for num, frequency in frequency_dict.items():
        if frequency > 1:
            duplicate_elements.append(num)

    if not duplicate_elements:
        return -1
    else:
        return duplicate_elements


input_array = [1, 2, 3, 4]
print(find_duplicate_elements(input_array))

-1

(17) Write a Python program to select all the Sundays of a specified year.

In [7]:
import datetime

def find_sundays(year):
    sundays = []

    for month in range(1, 13):
        for day in range(1, 32):
            try:
                date = datetime.date(year, month, day)
                if date.weekday() == 6:
                    sundays.append(date)
            except ValueError:
                pass

    return sundays

specified_year = int(input("Enter the year: "))
sundays_list = find_sundays(specified_year)

print(f"Sundays in {specified_year}:")
for sunday in sundays_list:
    print(sunday)

Enter the year: 2000
Sundays in 2000:
2000-01-02
2000-01-09
2000-01-16
2000-01-23
2000-01-30
2000-02-06
2000-02-13
2000-02-20
2000-02-27
2000-03-05
2000-03-12
2000-03-19
2000-03-26
2000-04-02
2000-04-09
2000-04-16
2000-04-23
2000-04-30
2000-05-07
2000-05-14
2000-05-21
2000-05-28
2000-06-04
2000-06-11
2000-06-18
2000-06-25
2000-07-02
2000-07-09
2000-07-16
2000-07-23
2000-07-30
2000-08-06
2000-08-13
2000-08-20
2000-08-27
2000-09-03
2000-09-10
2000-09-17
2000-09-24
2000-10-01
2000-10-08
2000-10-15
2000-10-22
2000-10-29
2000-11-05
2000-11-12
2000-11-19
2000-11-26
2000-12-03
2000-12-10
2000-12-17
2000-12-24
2000-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [8]:
def factorial_iterative(n):
    if n < 0:
        return None
    if n == 0 or n == 1:
        return 1

    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

def factorial_recursive(n):
    if n < 0:
        return None
    if n == 0 or n == 1:
        return 1
    return n * factorial_recursive(n - 1)

try:
    n = int(input("Enter a positive integer: "))
    if n < 0:
        print("Factorial is not defined for negative integers.")
    else:
        iterative_result = factorial_iterative(n)
        recursive_result = factorial_recursive(n)
        print(f"Factorial of {n} (iterative): {iterative_result}")
        print(f"Factorial of {n} (recursive): {recursive_result}")
except ValueError:
    print("Invalid input. Please enter a valid positive integer.")

Enter a positive integer: 7
Factorial of 7 (iterative): 5040
Factorial of 7 (recursive): 5040

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [9]:
def count_even_numbers(n):
    if n <= 0:
        print("Please enter a positive integer.")
        return

    count = 0
    for i in range(1, n + 1):
        if i % 2 == 0:
            count += 1
        elif i > n // 2:
            break

    return count

try:
    n = int(input("Enter a positive integer: "))
    even_count = count_even_numbers(n)
    print(f"Count of even numbers from 1 to {n}: {even_count}")
except ValueError:
    print("Invalid input. Please enter a valid positive integer.")

Enter a positive integer: 6
Count of even numbers from 1 to 6: 2

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [10]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

try:
    input_str = input("Enter a string: ")
    vowel_count = count_vowels(input_str)
    print(f"Count of vowels in the string: {vowel_count}")
except ValueError:
    print("Invalid input.")

Enter a string: shreya
Count of vowels in the string: 2